@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    /* --bs-white: #FFF */
    --primary-white: #fff;
    /* --bs-orange: #fd7e14; */
    --primary-orange: #f9ab00;
    /* --bs-dark: rgba(255,255,255,0); */
    --primary-dark: rgba(255,255,255,0);
    /* --primary-dark: #212529; */
    --primary-red: #951928;
}

body{
    font-family: "Roboto Condesed", sans-serif;
}

/* HEADER */

.header-wraper{
    position: relative;
    background: url(./static/setup_job3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-family: "Roboto Condesed", sans-serif;
}

.main-info h4{
    color: var(--primary-orange);
    text-transform: uppercase;
}